*,
body {
    margin: 0;
    padding: 0;
}
body {
    zoom: 1;
    overflow: hidden;
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #000000, #0a0a0a);
    background: linear-gradient(to bottom, #000000, #0a0a0a);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#book {
    --page-ratio: calc(11 / 8.5);
    --book-ratio: calc(11 / 17);
    --book-width: min(100vw, calc(100vh / var(--page-ratio) * 2));
    --book-height: calc(var(--book-width) * var(--page-ratio) / 2);

    width: var(--book-width);
    height: var(--book-height);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (orientation: portrait) {
    #book {
        --book-width: 100vw;
        --book-height: calc(var(--book-width) * var(--page-ratio) / 2);
    }
}

.nav-buttons {
    position: absolute;
    z-index: 100;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 800;
    border: none;
    padding: 20px 15px;
    cursor: pointer;
    pointer-events: all;
}

#fullscreen-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;
    background-color: #c9c9c9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#fullscreen-button:hover {
    background-color: #ababab;
}
.fullscreen-img {
    height: 15px;
}

.page1 {
    background: url(images/tedXImages/cover.png);
    background-size: 100% 100%;
}
.page2 {
    background: url(images/tedXImages/2left.png);
    background-size: 100% 100%;
}
.page3 {
    background: url(images/tedXImages/2right.png);
    background-size: 100% 100%;
}
.page4 {
    background: url(images/tedXImages/3left.png);
    background-size: 100% 100%;
}
.page5 {
    background: url(images/tedXImages/3right.png);
    background-size: 100% 100%;
}
.page6 {
    background: url(images/tedXImages/4left.png);
    background-size: 100% 100%;
}
.page7 {
    background: url(images/tedXImages/4right.png);
    background-size: 100% 100%;
}
.page8 {
    background: url(images/tedXImages/5left.png);
    background-size: 100% 100%;
}
.page9 {
    background: url(images/tedXImages/5right.png);
    background-size: 100% 100%;
}
.page10 {
    background: url(images/tedXImages/6left.png);
    background-size: 100% 100%;
}
.page11 {
    background: url(images/tedXImages/6right.png);
    background-size: 100% 100%;
}
.page12 {
    background: url(images/tedXImages/7left.png);
    background-size: 100% 100%;
}
.page13 {
    background: url(images/tedXImages/7right.png);
    background-size: 100% 100%;
}
.page14 {
    background: url(images/tedXImages/8left.png);
    background-size: 100% 100%;
}
.page15 {
    background: url(images/tedXImages/8right.png);
    background-size: 100% 100%;
}
.page16 {
    background: url(images/tedXImages/9left.png);
    background-size: 100% 100%;
}
.page17 {
    background: url(images/tedXImages/9right.png);
    background-size: 100% 100%;
}
.page18 {
    background: url(images/tedXImages/10left.png);
    background-size: 100% 100%;
}
.page19 {
    background: url(images/tedXImages/10right.png);
    background-size: 100% 100%;
}
.page20 {
    background: url(images/tedXImages/11left.png);
    background-size: 100% 100%;
}
.page21 {
    background: url(images/tedXImages/11right.png);
    background-size: 100% 100%;
}
.page22 {
    background: url(images/tedXImages/12left.png);
    background-size: 100% 100%;
}
.page23 {
    background: url(images/tedXImages/12right.png);
    background-size: 100% 100%;
}
.page24 {
    background: url(images/tedXImages/13left.png);
    background-size: 100% 100%;
}
.page25 {
    background: url(images/tedXImages/13right.png);
    background-size: 100% 100%;
}
.page26 {
    background: url(images/tedXImages/14left.png);
    background-size: 100% 100%;
}
.page27 {
    background: url(images/tedXImages/14right.png);
    background-size: 100% 100%;
}
.page28 {
    background: url(images/tedXImages/backcover.png);
    background-size: 100% 100%;
}
